nav{
    width: 80vw;
    height: 4rem;
    border-left: 1rem #fff solid;
    border-right: 1rem #fff solid;
    display: grid;
    place-items:center;
    background: var(--color-primary);
    backdrop-filter: blur(20px);
    position: fixed;
    top:1rem;
    left: 10vw;
    z-index: 9;
    box-shadow: 0 1rem 1.5rem #4E31AA;/*hsla(var(--primary-hue), 68%, 42%, 70%)*/
    border-radius: 1.5rem;
}

.nav__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav__logo{
    width: 3.5rem;
    border-radius: 40%;
    overflow: hidden;
}
.nav__menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav__menu li{
    width: 5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__menu li a{
    padding: 8px;
}

.nav__menu li a:hover{
    color: aqua;
    border-radius: 50px;
    transition: ease-in-out 400ms;
}
.mobile-list-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.small-nav_menu{
    margin-top: 30px;
    transition: 300ms ease-in-out;
    transform: none;
    opacity: 0;
    width: 80%;
    background-color: var(--color-primary);
    border-radius: 4px 4px 2rem 2rem;
    position: absolute;
    top: -300px;
}
.active{
    top: 0;
    opacity: 1;
}
.small-nav_menu > li{
    padding: 8px;
    text-align: center;
}
.small-nav_menu > li > a{
    color: white;
    font-weight: 500;
}


@media screen and (max-width:1024px) {
    .nav__menu{
        display: none;
    }
    
}
@media screen and (min-width:1024px) {
    .btn-show{
        display: none;
    }
}